<mj-section css-class="body">
  <mj-column>
    <mj-text> Hi <strong><%= @to.first_name %></strong>!<br /><br /> </mj-text>
    <mj-text>
      The admins of the JOGL peer review
      <a
        href="<%= Rails.configuration.frontend_url + @peer_review.frontend_link %>"
        ><%= @peer_review.title %></a
      >
      sent you a message!
    </mj-text>
    <mj-spacer height="20px" />
    <mj-divider border-width="1px" />
    <mj-spacer height="20px" />
    <mj-text css-class="left"> <%= @content %> </mj-text>
    <mj-spacer height="20px" />
    <mj-divider border-width="1px" />
    <mj-spacer height="20px" />
    <mj-text>
      This email was sent from Just One Giant Lab's internal email system by an
      administrator of the peer review and cannot be replied to. In order to
      reply, please contact an admin via the peer review page's "admins" tab. If
      you believe you have received this mail in error, please let us know by
      forwarding it to
      <a
        href="mailto:report@jogl.io"
        style="text-decoration: none; color: #0b5db9"
        >report@jogl.io</a
      >
    </mj-text>
  </mj-column>
</mj-section>
