<mj-text>
  Your request to affiliate <%= @object.title %> to the <%= @metadata[:parent].class.name.downcase %>
  <a href="<%= Rails.configuration.frontend_url + @metadata[:parent].frontend_link %>"><%= @metadata[:parent].title %></a>
  has been rejected.
</mj-text>
