<mj-text>
  <a href="<%= Rails.configuration.frontend_url + @metadata[:mentioner].frontend_link %>"><%= @metadata[:mentioner].full_name %></a>
  mentioned you
  <a href="<%= Rails.configuration.frontend_url + @object.frontend_link %>">in a thread</a>.
</mj-text>
<%= render partial: 'cta_button', locals: { text: 'Check it out!' } %>
