<mj-text>
  <a
    href="<%= Rails.configuration.frontend_url + @metadata[:requestor].frontend_link %>"
    ><%= @metadata[:requestor].full_name %></a
  >
  requested to join the <%= @object.class.name.downcase == "challenge" ? "group"
  : @object.class.name.downcase %>:
  <a href="<%= Rails.configuration.frontend_url + @object.frontend_link %>"
    ><%= @object.title %></a
  >
  you are an admin of.
</mj-text>
<%= render partial: 'cta_button', locals: { text: 'Respond to their request!' }
%>
