<mj-text>
  A new challenge just started on JOGL:
  <a href="<%= Rails.configuration.frontend_url %>/challenge/<%= @object.short_title %>"><%= @object.title %></a>.
</mj-text>
<%= render partial: 'cta_link' %>
